<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div ng-app="myApp" ng-controller="formCtrl">
    <form ng-submit="submitUserForm()">

      <h1>Onboarding Form & View Profile</h1>
      <div class="fullName">
        Full Name:
        <input type="text" ng-model="user.fullName" required><br>
      </div>
      <hr>
      <div class="experience">
        <h2>Experience</h2>
        <div>
          Company Name:<br>
          <input type="text" ng-model="user.companyName" required><br>
          Position:<br>
          <input type="text" ng-model="user.position" required><br><br>
          Date of Joining/Date of resign:<br>
          <input type="date" ng-model="user.dateOfJoining" required><br>
          Work Description:<br>
          <input type="text" ng-model="user.workDescription" required><br>
          Used Skills:<br>
          <input type="text" ng-model="user.skills" required><br>
        </div>
      </div>
      <hr>
      <div class="skills">
        <h2>Skills</h2>
        Year of Experience:<br>
        <input type="number" min="1" max="10" ng-model="user.experience" required><br>
        Skills Name:<br>
        <div class="addSkills">
          <ul>
            <li ng-repeat="x in products">{{x}}<span ng-click="removeItem($index)"> × </span></li>
          </ul>
          <input ng-model="addMe" type="text">
          <button ng-click="addSkills()">Add Skills</button>
        </div>
      </div>
      <br>
      <hr>
      <div class="addProject">
        <h2>Add Project</h2><br>
        Project Title:<br>
        <input type="text" ng-model="user.projectTitle"><br>
        Project Description:
        <input type="text" ng-model="user.projectDescription"><br>
        Project Url:<br>
        <input type="url" ng-model="user.projectUrl"><br>
        Project Duration:<br>
        <input type="month" ng-model="user.projectDuration"><br>
      </div>
      <hr>
      <div class="ALC">
        <h2>Add licenses & certifications</h2>
        Name:<br>
        <input type="text" ng-model="user.certiName"><br>
        Issuing Organization:<br>
        <input type="text" ng-model="user.organization" required><br>
        Certificate Link:<br>
        <input type="url" ng-model="user.certiUrl"><br>
        Issue Date:<br>
        <input type="date" ng-model="user.certiIssueDate"><br>

      </div>
      <hr>
      <div class="addCourse">
        <h2>Add course</h2>
        Course Name:<br>
        <input type="text" ng-model="user.courseName"><br>
        Issuing organisation:<br>
        <input type="text" ng-model="user.courseOrg"><br>
      </div>
      <hr>
      <div class="contact">
        <h2>Contact Info</h2>
        Email:<br>
        <input type="email" ng-model="user.abc@email.com"><br>
        Phone Number:<br>
        <input type="tel" id="phone" name="phone" placeholder="12345-67228" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          ng-model="user.number"><br>
        Skype Id:<br>
        <input type="url" ng-model="user.url"><br>
      </div>
      <br>
      <div style="align-content: ;">
        <input type="submit" value="Submit" />
        <input type="reset" ng-click="resetForm()" value="Reset" />
      </div>
    </form>

  </div>

  <script>
    var userApp = angular.module('myApp', []);

    userApp.controller('formCtrl', function ($scope, $http) {
      $scope.defaultUser = {
        fullName: "text",
        companyName: "companyName",
        position: "position",
        dateOfJoining: new Date('01/31/2021'),
        workDescription: "workDetails",
        skills: "userskills ",
        experience: "number",
        skillsName: "addSkills",
        projectTitle: "projectTitle",
        projectUrl: "url",
        projectDescription: "text",
        projectDuration: "month",
        certiName: "certiName",
        certiOrganization: "organization",
        certiUrl: "Url",
        certiIssueDate: new Date('01/31/2021'),
        courseName: "text",
        courseOrganization: "text",
        email: "abc@email.com",
        phoneNumber: "number",
        skypeId: "url"
      };
      $scope.products = ["java", "angular"];
      $scope.addSkills = function () {
        $scope.products.push($scope.addMe);
      }
      $scope.removeItem = function (x) {
        $scope.products.splice(x, 1);
      }
      $scope.user = angular.copy($scope.defaultUser);
      $scope.submitUserForm = function () {
        var onSuccess = function (data, status, headers, config) {
          alert('User saved successfully.');
        };
        var onError = function (data, status, headers, config) {
          alert('Error occured.');
        }
        $http.post('/user/submitData', { user: $scope.user })
          .success(onSuccess)
          .error(onError);
      };
      $scope.resetForm = function () {
        $scope.user = angular.copy($scope.defaultUser);
      };
    });
  </script>

</body>

</html>