<style>
form {
  padding: 8%;
  border: 2px solid gray;
}

.experience {
  column-count: 2;
}

.skills {
  column-count: 2;
}
.fullName{
  column-count: 2;
}
.addProject {
  column-count: 2;
}

.ALC {
  column-count: 2;
}

.addCourse {
  column-count: 2;
}

.contact {
  column-count: 2;
}

input[type=text],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 8xpx;
  box-sizing: border-box;
}

input[type=password],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=number],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=email],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=date],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=url],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=tel],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=month],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

button {
  width: 25%;
  background-color: #7eea84;
  color: rgb(6, 4, 4);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
input[type=submit] {
  width: 20%;
  background-color: #7eea84;
  color: rgb(6, 4, 4);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
input[type=reset] {
  width: 20%;
  background-color: #7eea84;
  color: rgb(6, 4, 4);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #047009;
}
input[type=reset]:hover {
  background-color: #047009;
}
input[type=login]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>